$red: #CC594A;
$yellow: #B8CC24;
$blue: #8BC5FF;

.logo, .search {
    margin-bottom: 50px;
}

#sortable {
  list-style: none;
    li {
        text-align: center;
        float: left;
        margin: 0px;
       
        @media only screen and (min-width: 320px) {
           width: 100%;
        }
        @media only screen and (min-width: 800px) {
           width: 50%;
        }
        @media only screen and (min-width: 1036px) {
           width: 25%;
        }
    }
    p {
        padding: 30px; 
        font-size: 150%;
    }
    
    img {
        text-decoration: none;
        display: inline-block;
        transition: 1.5s;
        box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
     }
    
    img:hover {
        transform: rotateY(360deg);
        transition: 1.5s;
        background: gray;
     }
    
    u {
        color:blue;
    }
    
    li:hover{
        u {
           color:red;
       }
    }

}

h1 {
	font-weight: bold;
   
}

.title {
   font-size: 4vw;
   font-weight: bold;
   text-align: center;
   max-width: 1200px;
}

.statment {
   margin-bottom: 60px;
   font-weight: bold;
   font-size: 4vw;
   max-width: 1200px;
}
.call {
   font-size: 2.5vw;
   margin-top: 40px; 
   margin-bottom: 50px;
   font-weight: bold;
   text-align: center;
   max-width: 880px;
}

.head {
   margin-top: 60px; 
   margin-bottom: 60px; 
   text-align: center;
   img {
       width: 300px; 
    }
}
.search {
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px 20px 5px 30px;
    background-image:url(../i/searchicon.png); 
    background-repeat: no-repeat; 
   
}

.morebooks {
    width: 300px;
    font-size: 20px;
    font-weight:  bold;
    text-align: center;
    border: 3px solid $blue;
    color:$blue;
    background: transparent;
    border-radius: 5px;
    padding: 12px 20px 12px 30px;
    margin-top: 50px;
    margin-bottom: 100px; 
}

.morebooks:hover {
    border: 3px solid red;
    color:red;
}

#book {
   position: inherit;
   font-size: 1vw;
   left: 0px;
   top: 0px;
   z-index: -1;
}

#eye {
    position: relative;
    
    z-index: 2;
    svg {
        position:absolute;
    }
}

.middle_to_book {
    strong {
        color: red;
    }
}

.buy {
    width: 400px;
    font-size: 20px;
    text-align: center;
    border: none;
    color:white;
    font-size: 25px;
    background: #74357c;
    border-radius: 10px;
    padding: 20px 20px 20px 30px;
    margin-top: 30px;
    margin-bottom: 30px; 
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#7f3da0, #74357c, #7f3da0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7f3da0, #74357c, #7f3da0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7f3da0, #74357c, #7f3da0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7f3da0, #74357c, #7f3da0); /* Standard syntax (must be last) */
}
.buy:hover {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#cfa2e5, #74357c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cfa2e5, #74357c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cfa2e5, #74357c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cfa2e5, #74357c); /* Standard syntax (must be last) */
}

.members {
    height: auto;
    max-width: 200px; 
}

@font-face {
    font-family: myFont;
    src: url(layout/alsfuchsia.otf);
}

.cite {
    font: italic bold 12px/30px Georgia, serif;
    font-size: 200%;
}

.sraffi {
    margin-top: 10px;
    margin-bottom: 100px; 
}

.order_form {
    input {
        width: 300px;
        padding: 10px;
        border: 2px solid;
    }
    
    textarea {
        border: 2px solid;
    }
    
    .deliver {
        width: auto;
        padding: 20px;
        margin: auto;
    }
    
}

#address {
    display:none;
}

#orderMessage {
    text-align: center;
    margin-bottom: 300px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.priceadd {
    color: gray;
}

.sendorder {
    #buy {
        border: 2px solid;
        font-weight: bold;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    
    #buy:hover {
        background: #828a96;
    }
    
    input {
        width: 300px;
        padding: 10px;
        border: 2px solid;
    }
}





